/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~ngx-smart-modal/ngx-smart-modal";
@import "~angular-notifier/styles";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #c7c7c729 url("./assets/bg.jpg") no-repeat center center fixed !important;
}

.mat-toolbar.mat-primary {
  box-shadow: 0 0 15px 0 #00000075;
}

.mat-table {
  width: 100% !important;
  box-shadow: none;
}

.bottom-button {
  margin-top: 15px;
}

.mat-form-field {
  width: 100% !important;
}

app-acceuil .nsm-dialog {
  margin: -5% 200px !important;
  max-width: none !important;
  width: auto;
}

.nsm-content {
  margin-top: 20%;
}

app-header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
}

.mat-expansion-panel-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-expansion-panel {
  margin: 10px 0 !important;
}